* {
    padding: 0;
    margin: 0;
}

h1 {
    padding: 10px;
    background-color: aquamarine;
}

p {
    margin: 10px;
}

form {
    border-radius: 10px;
    margin: 15px 2rem;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.input {
    margin: 10px;
}

input[type="number"], input[type="text"] {
    width: fit-content;
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
    border-radius: 5px;
}

button {
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    background-color: aquamarine;
}

#resultado {
    margin: 10px;
}