* {
    padding: 0;
    margin: 0;
    font-family: "Rokkitt", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 35% auto;
    border-width: 1px;
    border-color: #465902;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 8px 8px 0px #a5a4a4;
    width: 980px;
    height: 400px;
}

header {
    background-color: #b2d925;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 30px;
    text-align: center;
}

img {
    width: 230px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: fit-content;
    padding: 4px;
    border-width: 0.5px;
    border-color: #465902;
    border-style: solid;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 8px;
}

button {
    width: fit-content;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #9bbf17;
    color: antiquewhite;
}